body {
padding-bottom: 40px;
font-family: 'Open Sans', sans-serif;
}

.container-header{
  margin: 0 auto;
  max-width: 850px;
  position:relative;	
}

.container-header h1 {
  font-size: 60px;
  line-height: 2;
  position:absolute;
  bottom:5px;
  color:white;
  left:50%;
  margin-left:-335px;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  margin: 60px 0;
  text-align: left;
}
.jumbotron h1 {
  font-size: 60px;
  line-height: 2;
}

.marketing {
  margin: 60px 0;
}

.marketing img{
border:2px solid black;
margin-bottom:20px;
max-width:700px;
}

.lead{
text-align:left;
}