#{extends 'main.html' /}
#{set title:'#benkimeguvenecegim' /}

<div class="container-narrow">

      <div class="masthead">
        <h3 class="muted">#benkimeguvenecegim</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Çok şey mi istiyorum?</h1>
        <p class="lead">
        Sayın Cumhurbaşkanım,<br><br>
		
		Bundan birkaç yıl önce Türkiye'deki trafik kazalarına dikkat çekmek ve ölümleri azaltmak için bir kampanya başlatmıştınız. Sivil toplum kuruluşlarını, özel sektörü, üniversiteleri, medyayı, kamu kuruluşlarını biraraya getirmiş, herkese liderlik etmiştiniz. Herkes sizin bir sözünüzle harekete geçmişti. Sizin bir sözünüzle, yüzlerce insan Ankara'da toplanmıştı. Sizin bir sözünüzle, gazeteler ilanları, televizyonlar reklam filmini karşılıksız yayınlamıştı. Sizin bir sözünüzle, binlerce afiş, binlerce noktaya, bir gecede asılmıştı. Hatırlarsanız, kampanyayı, makam aracınızın arka koltuğunda kemerinizi bağlayarak başlatmıştınız. Hatırlarsanız, o kampanyanın reklam filmini de siz seslendirmiştiniz. Hatırladınız değil mi? Trafikte dikkat! Söz konusu olan on bin hayat!<br>
		
		Beni hatırlamayacaksınızdır. O kampanyanın ilanlarını ve reklam filmini hazırlayan ekibin başında ben vardım. Ve o filmin seslendirmesini, sizin yapmanızı isteyen bendim. Ve bunu kabul ettiğinizi duyduğumda, dünyanın en mutlu insanı bendim. Cumhurbaşkanlığı Köşkü'ne, iki arkadaşımla birlikte gelip, size bir dublaj sanatçısına verir gibi direktifler veren de bendim. Siz her dediğimi yapmıştınız. Biraz daha vurgulu demiştim, tabi ki demiştiniz. Şu cümleyi öyle değil de, şöyle söyler misiniz demiştim, tabi ki demiştiniz. Bir tekrar daha
		alabilir miyiz demiştim, tabi ki demiştiniz. Bir tekrar daha alabilir miyiz demiştim, siz yine tabi ki demiştiniz. Ve o sırada odada bulunan özel kalem müdürünüz tamam yeter dediğinde, siz ona dönüp, "arkadaşlar işlerini yapıyorlar, onlar ne zaman tamam derse, o zaman tamam olur" demiştiniz.
		Ben kulaklarıma inanamamıştım. Bize güvenmiştiniz. Saçları beline kadar olan, sakallı, genç bir adama güvenmiştiniz.<br>
		
		Buraya kadarı, çok da önemli değil aslında. Ama siz bize öyle güvenmiştiniz ki, sadece sesinizi değil, canınızı bile bize emanet etmiştiniz. Ankara'dan İstanbul'a dönerken en çok neyi düşünmüştüm biliyor musunuz? Bize nasıl oluyor da bu kadar güvenebilmiştiniz. Çünkü siz, biz işimizi rahatça yapalım diye, etrafınızdaki herkesi, bütün askerleri, bütün görevlileri salondan çıkartmıştınız. Biz üç kişiydik ve sizin yanınızda sadece özel kalem müdürünüz kalmıştı. Ankara'dan İstanbul'a dönerken en çok bunu düşünmüştüm. Bizim yerimizde kötü niyetli insanlar olsaydı, neler olabileceğini düşünmüştüm. Ve sizin,
		bunu aklınızın ucundan bile geçirmediğinizi düşünmüştüm. Ve nasıl oluyor da, bize bu kadar güvenebildiğinizi...<br> 
			
		
		Bize hâlâ güvendiğinizi biliyorum. Bana, arkadaşlarıma, bu ülkeye, bu ülkenin insanlarına ne kadar güvendiğinizi biliyorum. Gönülden inanıyorum ki, insanların neden sokakta olduğunu, ne istediklerini, siz hepimizden daha iyi biliyorsunuz. Sorunların ne olduğunu bildiğiniz gibi, çözümün ne olduğunu da biliyorsunuz. Bu ülkenin bugünlerde neye ihtiyacı olduğunu, ne yapılması gerektiğini, herkesten daha iyi biliyorsunuz. Çünkü ben sizi tanıdım. Siz beni hatırlamayabilirsiniz ama ben sizi çok iyi hatırlıyorum. Ve ben size,
		sizin bize güvendiğiniz kadar çok güveniyorum.<br><br>
		
		O gün Yeşil Salon'da bizi nasıl kucakladıysanız, bugün yine kucaklamanızı istiyorum. Başbakanı, hükümeti, muhalefeti, sivil toplum kuruluşlarını, özel sektörü, üniversiteleri, medyayı, kamu kuruluşlarını yine biraraya getirebilir, yine herkese liderlik edebilirsiniz. Bunu yapmanızı istiyorum. Daha fazla can kaybetmemek için canla başla çalışmanızı istiyorum. Düşmanlığın bitmesi için, dost elinizi uzatmanızı istiyorum. Kindarlığın bitmesi için dindar yanınızın devreye girmesini istiyorum. Sağduyunun kazanması için, demokrat kimliğinizin kazanmasını istiyorum. Bu anlamsız savaşın bitmesi için, barışçı yanınız harekete geçsin istiyorum. Cumhuriyetin mutluluğu için başkanlığınızın devreye girmesini istiyorum. Çok şey mi istiyorum?<br><br>
		
		Sayın Cumhurbaşkanım,<br><br>
		
		Trafik kampanyası için birlikte hazırladığımız ilanları ve filmi, size hatırlatmak istiyorum. Göreceksiniz ki, o gün imza attığınız cümleler, bugün hâlâ geçerli. Hatalarımızdan dönmezsek, daha çok kullar ölecek. Huylarımızı değiştirmezsek, daha çok canlar gidecek. Ve daha fazla ölüm oldukça, bayram asla gelmeyecek.
		Bu sefer, ben sizin dikkatinizi çekmek istiyorum. Çünkü bu sefer, söz konusu olan, on bin değil, milyonlarca hayat.<br><br> 
		
		Saygılarımla,<br><br>
		Barış Akbaş
        </p>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="span6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>© #direngezi 2013</p>
      </div>

    </div>