#{extends 'main.html' /}
#{set title:'#benkimeguvenecegim' /}

<div class="container-header">
      <div class="masthead"> 
      	<img src="/public/images/header.jpg" />
      	<h1>#benkimegüveneceğim</h1>    
      </div>
</div>
      
<div class="container-narrow">

      <div class="jumbotron">
        
        <p class="lead">
			Sayın Cumhurbaşkanım,<br><br>
			
			Bundan birkaç yıl önce Türkiye’deki trafik kazalarına dikkat çekmek ve ölümleri azaltmak için<br>
			bir kampanya başlatmıştınız. Bakanları, sivil toplum kuruluşlarını, özel sektörü, üniversiteleri,<br>
			medyayı, kamu kuruluşlarını biraraya getirmiş, herkese liderlik etmiştiniz. Herkes sizin bir sözünüzle<br>
			harekete geçmişti. Sizin bir sözünüzle, yüzlerce insan Ankara’da toplanmıştı. Sizin bir sözünüzle,<br>
			gazeteler ilanları, televizyonlar reklam filmini karşılıksız yayınlamıştı. Sizin bir sözünüzle, binlerce afiş,<br>
			binlerce noktaya, bir gecede asılmıştı. Hatırlarsanız, kampanyayı, makam aracınızın arka koltuğunda kemerinizi bağlayarak başlatmıştınız. Hatırlarsanız, o kampanyanın reklam filmini de siz seslendirmiştiniz.<br> 
			Hatırladınız değil mi? Trafikte dikkat! Söz konusu olan on bin hayat!<br>
			<br>
			Beni hatırlamayacaksınızdır. O kampanyanın ilanlarını ve reklam filmini hazırlayan ekibin başında<br>
			ben vardım. Ve o filmin seslendirmesini, sizin yapmanızı isteyen bendim. Ve bunu kabul ettiğinizi<br> 
			duyduğumda, dünyanın en mutlu insanı bendim. Cumhurbaşkanlığı Köşkü’ne, iki arkadaşımla birlikte gelip,<br>
			size bir dublaj sanatçısına verir gibi, direktifler veren de bendim. Siz her dediğimi yapmıştınız.<br>
			Biraz daha vurgulu demiştim, tabii ki demiştiniz. Şu cümleyi öyle değil de, şöyle söyler misiniz demiştim,<br>
			tabii ki demiştiniz. Bir tekrar daha alabilir miyiz demiştim, tabii ki demiştiniz. Bir tekrar daha alabilir miyiz<br>
			demiştim, siz yine tabii ki demiştiniz. Ve o sırada odada bulunan özel kalem müdürünüz ‘‘tamam, yeter’’ <br>
			dediğinde, siz ona dönüp, “arkadaşlar işlerini yapıyorlar, onlar ne zaman tamam derse, o zaman<br>
			tamam olur” demiştiniz. Ben kulaklarıma inanamamıştım. Bize güvenmiştiniz.<br>
			<br>
			Buraya kadarı, çok da önemli değil aslında. Ama siz bize öyle güvenmiştiniz ki, sadece sesinizi değil,<br>
			canınızı bile bize emanet etmiştiniz. Ankara’dan İstanbul’a dönerken en çok neyi düşünmüştüm<br>
			biliyor musunuz? Bize nasıl oluyor da bu kadar güvenebilmiştiniz. Çünkü siz, biz işimizi rahatça<br>
			yapalım diye, etrafınızdaki herkesi, bütün askerleri, bütün görevlileri salondan çıkartmıştınız.<br>
			Biz üç kişiydik ve sizin yanınızda sadece özel kalem müdürünüz kalmıştı. Ankara’dan İstanbul’a dönerken<br>
			en çok bunu düşünmüştüm. Bizim yerimizde kötü niyetli insanlar olsaydı, neler olabileceğini düşünmüştüm.<br>
			Ve sizin, bunu aklınızın ucundan bile geçirmediğinizi düşünmüştüm. Ve nasıl oluyor da, bize bu kadar<br>
			güvenebildiğinizi...<br> 
			<br>
			Bize hâlâ güvendiğinizi biliyorum. Bana, arkadaşlarıma, bu ülkeye, bu ülkenin insanlarına ne kadar<br>
			güvendiğinizi biliyorum. Gönülden inanıyorum ki, insanların neden sokakta olduğunu, ne istediklerini,<br>
			siz hepimizden daha iyi biliyorsunuz. Sorunların ne olduğunu bildiğiniz gibi, çözümün ne olduğunu da<br>
			biliyorsunuz. Bu ülkenin bugünlerde neye ihtiyacı olduğunu, ne yapılması gerektiğini, herkesten<br>
			daha iyi biliyorsunuz. Çünkü ben sizi tanıdım. Siz beni hatırlamayabilirsiniz ama ben sizi çok iyi hatırlıyorum. <br>
			Ve ben size, sizin bize güvendiğiniz kadar çok güveniyorum.<br>
			<br>
			O gün Yeşil Salon’da bizi nasıl kucakladıysanız, bugün yine kucaklamanızı istiyorum. Başbakanı, hükümeti,<br>
			muhalefeti, sivil toplum kuruluşlarını, özel sektörü, üniversiteleri, medyayı, kamu kuruluşlarını yine biraraya<br>
			getirebilir, yine herkese liderlik edebilirsiniz. Bunu yapmanızı istiyorum. Daha fazla can kaybetmemek için<br>
			canla başla çalışmanızı istiyorum. Düşmanlığın bitmesi için, dost elinizi uzatmanızı istiyorum. Kindarlığın<br>
			bitmesi için dindar yanınızın devreye girmesini istiyorum. Sağduyunun kazanması için, demokrat kimliğinizin<br>
			öne çıkmasını istiyorum. Bu anlamsız savaşın bitmesi için, barışçı yanınız harekete geçsin istiyorum.<br>
			Cumhuriyetin mutluluğu için başkanlığınızın devreye girmesini istiyorum. Ve bütün bunlar için, az önce<br>
			dediğim gibi, size, sizin bize güvendiğiniz kadar çok güveniyorum.<br>
			<br>
			Sayın Cumhurbaşkanım,<br>
			<br>
			Trafik kampanyası için birlikte hazırladığımız ilanları ve filmi, size hatırlatmak istiyorum. Göreceksiniz ki,<br>
			o gün imza attığınız cümleler, bugün hâlâ geçerli. Hatalarımızdan dönmezsek, daha çok kullar ölecek. <br>
			Huylarımızı değiştirmezsek, daha çok canlar gidecek. Ve daha fazla ölüm oldukça, bayram asla gelmeyecek.<br>
			Bu sefer, ben sizin dikkatinizi çekmek istiyorum. Çünkü bu sefer, söz konusu olan, on bin değil,<br>
			milyonlarca hayat. <br>
			<br>
			Saygılarımla,<br>			
			<img style="margin-left:-10px" src="/public/images/Imza.jpg" /><br>
			Barış Akbaş<br>
        </p>
      </div>

      <hr>

      <div class="row-fluid marketing">		
		
			<a target="_blank" href="http://benkime.s3-external-3.amazonaws.com/trafik1.jpg">
				<img src="/public/images/trafik1.jpg" />
			</a>	
			<a target="_blank" href="http://benkime.s3-external-3.amazonaws.com/trafik2.jpg">
				<img src="/public/images/trafik2.jpg" />
			</a>			
			<a target="_blank" href="http://benkime.s3-external-3.amazonaws.com/trafik3.jpg">
				<img src="/public/images/trafik3.jpg" />
			</a>			
		      
			<iframe src="http://player.vimeo.com/video/67869380" width="700" height="475" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
<!--		<p><a href="http://vimeo.com/67869380">Trafikte dikkat!</a> from <a href="http://vimeo.com/user18798895">nerds</a> on <a href="http://vimeo.com">Vimeo</a>.</p> -->
       
      </div>
      <hr>
      <div class="footer"></div>
    </div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-37451694-2', 'benkimeguvenecegim.com');
    ga('send', 'pageview');

</script>